{
  extends: ["plugin:monorepo/recommended", "airbnb", "prettier", "prettier/react"],
  parser: "babel-eslint",
  plugins: ["prettier"],
  rules: {
    "prettier/prettier": ["error", {
      "endOfLine":"auto"
    }],
    "import/no-extraneous-dependencies": "off"
  },
  env: {
    node: true,
    jest: true
  }
}
